#technology-infomap{
  width: 90%;
  max-width: 1126px;
  min-width: 700px;
  margin: 0 auto;
}
.node-text{
  font: 10.8px rajdhani-regular, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  pointer-events:none;
  line-height: 40px;
}

.section-text{
  font: 11px rajdhani-bold, Helvetica, Arial, sans-serif;
  fill: #A6A8AB;
  pointer-events:none;
}

.functionality-title{
  font: 11px rajdhani-bold, Helvetica, Arial, sans-serif;
  fill: #A6A8AB;
  letter-spacing: 2px;
  text-anchor: middle;
  pointer-events:none;
}

.tile-group{
  cursor: pointer;
}

.tile-text{
  font: 10px rajdhani-regular, Helvetica, Arial, sans-serif;
  fill: #FFFFFF;
  font-weight: bold;
  letter-spacing: .2px;
  text-anchor: middle;
  pointer-events:none;
}

.node-text span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.node-shape.blue{
  fill: #002857;
}

.node-shape.grey{
  fill: #939393;
}

.link {
  stroke: #929497;
  stroke-opacity: .4;
  stroke-width: 1px;
  fill: none;
  pointer-events: none;
}

.functionality-line{
  stroke-width: 1px;
  stroke: #A6A8AB;
}
.node-source .node-shape{
  fill: #FF6B0B;
  cursor: pointer;
}

.link-source{
  stroke-opacity: 1;
}

.not-connected{
  stroke-opacity: 0;
}

.chelation{fill:#9B7D5C !important;}
.ph-modification{fill:#FF6C0C !important;}
.dispertion{fill:#2FCF29 !important;}
.absorption{fill:#0099CD !important;}
.barrier{fill:#9FA1A4 !important;}
.adhesion{fill:#454545 !important;}
.permeation{fill:#D6BDA0 !important;}
.flavor-modification{fill:#002857 !important;}
.preservation{fill:#D9CA00 !important;}

@font-face
{
  font-family: rajdhani-regular;
  src: url('../fonts/Rajdhani-Regular.ttf');
}

@font-face
{
  font-family: rajdhani-bold;
  src: url('../fonts/Rajdhani-Bold.ttf');
}